{% extends "base.html" %}

{% block content %}
<h2 class="mb-3">Dodaj novo trčanje</h2>
<form method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="datum" class="form-label">Datum:</label>
       <input type="date" id="datum" name="datum" class="form-control" required max="{{ today }}">
    </div>

    <div class="mb-3">
        <label for="udaljenost" class="form-label">Udaljenost (km):</label>
        <input type="number" step="0.01" id="udaljenost" name="udaljenost" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="trajanje" class="form-label">Trajanje (min):</label>
        <input type="number" step="0.1" id="trajanje" name="trajanje" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="komentar" class="form-label">Komentar:</label>
        <textarea id="komentar" name="komentar" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Spremi</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Odustani</a>
</form>
{% endblock %}
